* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-div {
    width: 900px;
    height: 700px;
	/* margin: 0 auto; */
	width: 100%;
	text-align: center; 
	padding: 2%;
	background-color: green;
	
}

h1 {
    color: #ecf0f1;
}

h1 + p {
	margin-bottom: 5%;
    color: #3498db;
}

.scoreDiv {float: left;}
.timeDiv {
    float: left;
    padding-left: 5px;
}

.infoDiv:after {
	content: "";
	display: block;
	clear: both;
}

.bg {
	background-color:red;
}

button {
   border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.scoreDiv p, .scoreDiv span, .timeDiv p, .timeDiv span {
    font-size: 15px;
    color: white;
}

 .wordsDiv {
	width: 100px;
} 

.words span{
    font-size: 25px;
    letter-spacing: 1px;
    color: #ECF0F1;
}








